<div class='backdrop is-hidden' data-modal>
  <div class='modal'>
    <div class='one-film-markup'>
      <div class='poster'>
        <img class='image' src='https://image.tmdb.org/t/p/w500{{poster_path}}' alt='{{title}}'/>
      </div>

      <div class='info-table'>
        <h2 class='movie-title'>{{title}}</h2>

        <div class='movie-parameters'>
          <div class='vote'>
            <p>Vote / Votes</p>
            <p>
              <span class='vote-average'>{{vote_average}}</span>
              /
              <span class='vote-count'>{{vote_count}}</span>
            </p>
          </div>
          <div class='popularity'>
            <p>Popularity</p>
            <p class='popularity-value'>{{popularity}}</p>
          </div>
          <div class='original-title'>
            <p>Original Title</p>
            <p class='title-value'>{{original_title}}</p>
          </div>
          <div class='genre'>
            <p class='genre-name'>Genre</p>
            <div class='container-genres'>
              {{#each genres}}
              <p class='genres-value'>{{this.name}}</p>
              {{/each}}
            </div>
            
          </div>
        </div>

        <p class='about'>About</p>
        <p class='overview'>
          {{overview}}
        </p>

        <div class='modal-btns-add'>
          <button class="modal-btn add-to-watched" type="button">add to watched</button>
          <button class="modal-btn add-to-queue" type="button">add to queue</button>
          </li>
          </ul>
        </div>

      </div>
    </div>
    <button aria-label='Закрытие окна' class='close-modal' data-modal-close type='button'>
      <svg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path d='M8 8L22 22' stroke='black' stroke-width='2'></path>
        <path d='M8 22L22 8' stroke='black' stroke-width='2'></path>
      </svg>
    </button>
  </div>
</div>